!*.cpp
!*.c
!*.py
!*.java
!*.md
!*.tex

# Updata
*~
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
# Problem IO
*.in
*.ans
*.out
# MergeTool
*.orig